:root {
  color-scheme: light dark;
}


$dark-color-background: #191724;
$dark-color-text: #e0def4;
$dark-color-accent: #c4a7e7;

$light-color-background: #faf4ed;
$light-color-text: #575279;
$light-color-accent: #907aa9;

$color-background: light-dark($light-color-background, $dark-color-background);
$color-text: light-dark($light-color-text, $dark-color-text);
$color-accent: light-dark($light-color-accent, $dark-color-accent);


body {
  font-family: Arial, Helvetica, sans-serif;
  color: $color-text;
  background-color: $color-background;
}


canvas {
  margin: 0 auto;
}
